<!DOCTYPE html>
<html lang="en">
{% extends 'index.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El mejor banco</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
{% block content %}
    {% include 'include/side_bar.html' %}
    <div class="container-bank">
        <div class="container">
            <div class="container-text">
                <div style="float: left;">
                    <div class="text">
                        <h1 style="font-weight: bold; font-size: 4em;">Plataforma de transacciones innovadora</h1><br>
                        <h2 style="font-size: 1em; text-align: left;">Registrate y obten todos nuestros beneficios para ti</h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <div style="margin: 2.5em auto; max-width:420px; background-color: #110e0e; border-radius: 0.37em; padding: 2em; border: 1px solid rgba(0, 0, 0, 0.1);opacity: 0.87;">
                    {% if request.GET.command == 'verification' %}
                        <div style="max-width: 380px; color: #fff;">
                            Muchas gracias por registrarte en Inter Banco, te hemos enviado un email de confirmacion a tu cuenta de email [{{request.GET.email}}]
                            <br><br>
                            Si ya verificaste tu cuenta, puedes iniciar sesion<a href="{% url 'login' %}" style="color: #e67e16;">Iniciar sesión</a>

                        </div>
                    {% else %}
                        {% if messages %}
                            <br>
                            {% include 'include/alerts.html' %}
                        {% endif %}
                        <div style="text-align: center;">
                            <h1 style="color: #fff;">Iniciar sesión</h1><br>
                        </div>
                        <form action="{% url 'login' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="">Email</label>
                                <input type="email" class="form-control" placeholder="Email" name="email">
                            </div>
                            <div class="form-group">
                                <label for="">Contraseña</label>
                                <input type="password" class="form-control" placeholder="Contraseña" name="password">
                            </div>
                            <div class="form-group">
                                <a href="#" style="color: #fff;">¿Olvidaste tu contraseña?</a>
                            </div>
                            <div class="form-group" style="text-align: center; margin-left: 3em;">
                                <button type="submit" class="btn btn-primary">Iniciar sesión</button>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html> 



















