{% extends 'index.html' %}
{% load static %}

{% block content %}
    <div class="header-container">
        <a href="{% url 'login' %}"><img src="{% static 'images/logo-banco.png' %}" width="50px" height="50px" style="border-radius: 55%; margin: 0 1.5em;"></a>
        <a href="{% url 'register' %}" class="btn btn-outline-primary" style="float: right; margin-top: 5px; font-weight: bold;border-radius: 10px;">Registrarse</a>
    </div>
    <div style="margin: 7.5em auto; max-width:550px; background-color: #110e0e; border-radius: 0.37em; padding: 2em; border: 1px solid rgba(0, 0, 0, 0.1);opacity: 0.87;">
        {% if messages %}
            <br>
            {% include 'include/alerts.html' %}
        {% endif %}
        <div style="text-align: center;">
            <h1 style="color: #fff;">Registrarse</h1><br>
        </div>
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <div class="form-row">
                <div class="col form-group">
                    <label>Nombre</label>
                    {{form.first_name}}
                </div>
                <div class="col form-group">
                    <label>Apellido</label>
                    {{form.last_name}}
                </div>
            </div>
            <div class="form-row">
                <div class="col form-group">
                    <label>Numero Telefonico</label>
                    {{form.phone_number}}
                </div>
                <div class="col form-group">
                    <label>Email</label>
                    {{form.email}}
                </div>
            </div>
            <div class="form-row">
                <div class="col form-group">
                    <label>Contraseña</label>
                    {{form.password}}
                </div>
                <div class="col form-group">
                    <label>Confirmar Contraseña</label>
                    {{form.confirm_password}}
                </div>
            </div>
            <div style="padding-left: 10px; display: flex;">
                <input type="checkbox" onclick="mostrar()">&nbsp;<p style="color: #fff;">Mostrar Contraseña</p> 
            </div>
            
            <div class="form-group" style="text-align: center; margin-left: 3em;">
                <button type="submit" class="btn btn-primary">Registrarme</button>
            </div>
            <p style="color: #fff;">¿Ya tienes una cuenta? <a href="{% url 'login' %}" style="text-decoration: none; color: #e67e16;">Iniciar sesión</a></p>

        </form>
    </div>

{% endblock %}