{% extends 'index.html' %}
{% load static %}

{% block content %}
    {% include 'include/side_bar.html' %}
    {% include 'include/side_bar_transfer.html' %}
    <div class="container-transfer">
        <div class="section-transfer">
            <span style="font-size: xx-large; color: #242323;">Enviar pagos</span>
            <br><br><br>
            <form action="{% url 'search_account' %}" method="POST">
                {% csrf_token %}
                <div class="input-wrapper">
                    <input type="text" class="input" placeholder="Nombre, @usuario, email o celular" name="keyword">                  
                    <svg xmlns="http://www.w3.org/2000/svg" class="input-icon" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                    </svg>
                </div>
                <br>
                <input type="submit" value="Siguiente" class="btn">
            </form>
        </div>
        <div class="section-pay">
            <span style="font-size: xx-large; color: #242323;">Más formas de enviar pagos</span>
        </div>
    </div>
{% endblock %}