<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inter | Banco Internacional</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<script text="text/javascript">
    function mostrar(){
        var password=document.getElementById('password');
        var confirm_password=document.getElementById('confirmPassword');
        if(password.type == 'password' && confirm_password.type == 'password'){
            password.type = 'text';
            confirm_password.type = 'text';
        } 
        else{
            password.type = 'password';
            confirm_password.type = 'password';
        }   
    }
</script>
{% block content %}
    {% include 'include/side_bar_login.html' %}
    <div class="container-bank">
        <div class="container">
            <div class="container-text">
                <div class="text">
                    <h1 style="font-weight: bold;">Transacciones en segundos</h1><br>
                    <a href="#" style="text-decoration: none;">Ver mas...</a>
                </div>
            </div>
            <div class="container">
                <div style="margin: 2em auto; max-width:420px; background-color: #110e0e; border-radius: 0.37em; padding: 2em; border: 1px solid rgba(0, 0, 0, 0.1);opacity: 0.87;">
                    <div class="container-text-center">
                        <h1>Bienvenido/a {{user.full_name}}</h1>
                        <h2>Tu balance es: </h2>
                        <h2>$ {{user.amount}}</h2>
                        <a href="#">Añadir fondos</a>   
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>